<div class="container">
  <h1 class="text-center mb-4">Events</h1>
  <button class="btn btn-primary mb-3" (click)="navigateToCreateEvent()">Create New Event</button>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Number of Tickets</th>
        <th>remain Tickets</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.name }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.date | date }}</td>
        <td>{{ event.numberOfTickets }}</td>
        <td>{{ event.remainTickets }}</td>

        <td>{{ event.price | currency }}</td>
        <td>
          <button class="btn btn-success btn-sm mr-1" [disabled]="event.remainTickets < event.numberOfTickets" (click)="updateRecord(event)">Update</button>
          <button class="btn btn-danger btn-sm" [disabled]="event.remainTickets < event.numberOfTickets" (click)="deleteRecord(event)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
